.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 14px;
}

.mat-table {
  overflow: hidden;
  max-height: 500px;
}

.wrapper{
  overflow: hidden;
}

.footer-table {
  max-width: 1470px;
  padding: 0 14px;
}

.icon {
  margin-left: 8px;
  cursor: pointer;
}
