.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 14px;
}

.mat-table {
  overflow: hidden;
  max-height: 500px;
}

.wrapper{
  overflow: hidden;
}

.footer-table {
  padding: 0 14px;
}
