<div class="wrapper" style="padding-left: 250px">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <!-- Table Products -->
  <div class="example-container mat-elevation-z8">
    <div class="card-header border-0">
      <h2 class="mb-0">Product table</h2>
    </div>

    <mat-table #table [dataSource]="dataSource">
      <ng-container *ngIf="items.length < 0">
        <p>No Data Found</p>
      </ng-container>

      <!-- Position Column -->
      <ng-container *ngIf="items.length > 0">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="provider">
          <mat-header-cell *matHeaderCellDef> Provider </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.provider }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.quantity }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon class="icon" routerLink="product-insert"
              >add_circle_outline</mat-icon
            >
            <mat-icon class="icon" routerLink="product-insert/{{ element.id }}"
              >edit</mat-icon
            >
            <mat-icon class="icon" (click)="deleteProduct(element.id)"
              >delete_outline</mat-icon
            >
          </mat-cell>
        </ng-container>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <!-- <mat-paginator [length]="this.items.length" [pageSize]="3"
    [pageSizeOptions]="[3, 5, 10]"></mat-paginator> -->

    <mat-paginator
      #paginator
      [pageSizeOptions]="[2, 4, 6]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <div class="footer-table">
    <app-footer></app-footer>
  </div>
</div>
