<div class="wrapper" style="padding-left: 250px">
  <app-navbar></app-navbar>
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <!-- Table Products -->
  <div class="example-container mat-elevation-z8">
    <div class="card-header border-0">
      <h2 class="mb-0">Users table</h2>
      <mat-icon class="icon card-header_icon" routerLink="user-insert"
        >add_circle_outline</mat-icon
      >
    </div>

    <mat-table #table [dataSource]="dataSource">
      <ng-container *ngIf="items.length < 0">
        <p>No Data Found</p>
      </ng-container>

      <!-- Position Column -->
      <ng-container *ngIf="items.length > 0">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef> Frist Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.firstName }}
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.lastName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.role }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon class="icon" routerLink="user-insert/{{ element.id }}"
              >edit</mat-icon
            >
            <mat-icon class="icon" (click)="deleteUser(element.key)"
              >delete_outline</mat-icon
            >
          </mat-cell>
        </ng-container>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      #paginator
      [pageSizeOptions]="[2, 4, 6]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <div class="footer-table">
    <app-footer></app-footer>
  </div>
</div>
